@font-face {
  font-family: "saiyasans";
  src: url("recursos/fuentes/Saiyan-Sans.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "pubgsans";
  src: url("recursos/fuentes/PUBG-SANS.ttf") format("truetype");
  font-weight: 600;
}

:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {-webkit-tap-highlight-color: transparent;}

html {
    background-image: url('recursos/background.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    font-family: "pubgsans";
    color: #eee;
    background-color: #111c;
}

header, .main_wrapper, footer {
    width: 100%;
}

/*Header */

header {
    background-color: #000;
}

h1 {
    text-align: center;
    font-family: saiyasans;
    font-size:  2rem;
    padding: 9px 9px 9px 38px;
    color: #f8e828;
    backdrop-filter: blur(5px);
    text-shadow: 0 0 20px #f8e828aa;
    animation: zooming 1s linear infinite alternate;
}

h1 span {
    color: #f00;
    text-shadow: 0 0 20px #f00c;
    
}

nav {
    text-align: center;
    padding: 3px;
    
}

nav div {
    position:absolute;
    margin: auto;
    display: flex;
    justify-content: start;
    list-style: none;
    width: 44px;
    flex-flow: column;
    height: 40px;
    z-index: 6;
    top:18px;
    left:5px;
    overflow: hidden;
    border:1px solid #ddd;
    border-radius: 3px ;
    transition: 0.1s;
    gap:2px;
}

nav div:focus, nav div:hover {
    position:fixed;
    background:   linear-gradient(  #211, #112,#212)  ;
    top:0;
    left:0px;
    height:100vh;
    width: 190px;
    border: none;
    border-right:1px solid #111;
    border-radius: 0;
    box-shadow: 0 0 30px #ddd2;
}

nav a {
    position: relative;
    top:0;
    font-family: "pubgsans";
    letter-spacing: 0.7px;
    display: block;
    font-size: 0.9rem ;
    line-height: 13px;
    text-decoration: none;
    color: #ddd;
    font-weight: bold;
    padding: 3px;
}

nav a.canal {
    display:flex;
    text-align: start;
    margin:10px;
    padding:10px;
    position: relative;
    
    align-items: center;
    gap:6px;
    padding:8px;
    font-family: Arial;
    letter-spacing: 0px;
    background-color: #3ee433;
    color:#121;
    border-radius: 10px;
    font-weight: 500;
    border:1.2px solid #121;
    box-shadow: 0 0 15px #3ee433aa;
    text-shadow: 0 0 5px #dfd6;
}

nav a.canal img {
    width:50px;
    border-radius:100%;
    filter:none;
    box-shadow: 0 0 10px #1113;
    border:1.2px solid #121;
    
}

nav .menu_button {
    width:35px;
    align-self: start;
    filter:invert();
}


nav img {
    width: 26px;
  filter: invert();
}

.nav_btn_active {
    background-color: #fffd;
    border-radius: 4px ;
    color: #111;
}

.nav_btn_active img {
    filter:none;
}

/*Main */ 

.main_wrapper {
    display: flex;
    gap: 10px;
    flex: 1;
    max-width: 1100px;
}

main {
    font-size: 1rem;
    flex: 1 ;
    padding:25px;
    
}

h2 {
  font-family: "pubgsans";
    font-size: 1.7rem;
    text-align: center;
    margin: 0 0 15px 0;
    color: #fff;
    text-shadow: 0 0 20px #fffa;
}

/*Footer */ 

footer {
    text-align: center;
    font-size: 1.1rem;
    color: #ddd;
    margin-top: auto;
    background-color: #060606;
    padding: 30px;
}

/* Modal */

.modal {
    position: absolute;
    width: 100vw;
    height: 800px;
    background-color: #00000057;
    border: none;
    backdrop-filter: blur(7px);
}

.modal div {
    position: relative;
    margin: auto;
    margin-top: 100px;
    padding: 20px 20px;
    width: 70%;
    max-width: 500px;
    border-radius: 12px;
    background-color: #eeea;
    box-shadow: 0 0 30px 10px #11111136 ;
}

.modal .yoandri_modal {
    display: block;
    margin: auto;
    height: 200px ;
}

.modal a {
    position: absolute;
    right: 0;
    top: 0;
    margin: 7px;
    background-color: transparent;
    border: none;
}

.modal a img {
    display: block;
    width: 25px;
}

.modal p {
    color:rgb(37, 37, 37);
    font-size: 1.1rem;
    text-wrap: pretty;
    font-weight: 600;
}

.modal div p:first-of-type {
    font-size: 1.3rem;
    font-weight: bolder;
    color:#1f1e1e;
}

.modal div span {
    padding: 2px;
    color: #fffc;
    background-color: #141414;
    border-radius: 4px;
}

/* Yoandri */




.flex_gallery {
    margin: auto;
    display: flex;
    max-width: 750px ;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.flex_photo {
    position: relative;
    width: 100%;
    height: 100%;
    background: #0005;
    overflow: hidden;
    border-radius: 3px 3px 15px 15px;
    padding: 0 8px 8px 10px;
    backdrop-filter: blur(70px);
    box-shadow: 0 0 20px 2px #fff2;
    border-top: 3px solid #ff2525;
    transition: 0.1s;
    bottom: 0;
}

.flex_photo:hover {
    bottom:20px;
    border-radius: 7px;
    border: 1.5px solid #ff2525;
    z-index: 3;
}


.flex_photo:first-child:hover {
    bottom:20px;
    border-radius: 7px;
    border: 1.5px solid #00dd00;
    z-index: 10;
}

.flex_photo:first-child {
     border-top: 3px solid #00dd00;
}

.flex_photo:first-child p {
    color: #0b0;
}

.flex_photo p {
    padding: 9px;
    text-wrap: balance;
    font-size: 1.2rem;
    font-weight: 600;
    color:#ff3535;
    letter-spacing: 0.7px;
}

.flex_photo span {
    display: inline-block;
    font-size: 0.9rem;
    padding: 3px ;
    margin: 0 0 8px 10px;
    font-style: italic;
    font-weight: 500;
    border-radius: 3px;
    color: #ddd;
}

.flex_photo p::before {
    content: '"' ;
}

.flex_photo p::after {
    content: '"' ;
}


.flex_photo img {
    display: block;
    width: 100%;
    border-radius: 10px;
    margin:auto;
    border: 1px solid #111;
}

/* Miembros */

.grid_miembros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-auto-columns: auto;
    gap: 5px;
}

.item_miembros {
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 20px #fff4;
    border: 1px solid;
    animation: rgb_gradient 2.5s linear infinite alternate;
    background-position: center;
    background-size: cover;
    
}





.item_miembros p {
    font-size: 1.1rem;
    padding:16px;
    animation: rgb_gradient 2.5s linear infinite alternate;
}

.item_miembros:nth-child(1) {
    grid-column: span 2;
    background-image:linear-gradient(#000c, #000c),  url(recursos/miembros/derek.jpg) ;
}

.item_miembros:nth-child(2) {
    grid-row: span 2;
    background-image:linear-gradient(#000c, #000c),  url(recursos/miembros/cristian.jpg) ;
}

.item_miembros:nth-child(3) {
    grid-row: span 2;
    background-image:linear-gradient(#000c, #000c),  url(recursos/miembros/maiko.jpg) ;
}
.item_miembros:nth-child(4){
    grid-column: span 2;
    background-image:linear-gradient(#000c, #000c),  url(recursos/miembros/yordan.jpg) ;
}
.item_miembros:nth-child(5) {
    grid-row: span 2;
    background-image:linear-gradient(#000c, #000c),  url(recursos/miembros/ramz.jpg) ;
}
.item_miembros:nth-child(6) {
    grid-row: span 2;
    background-image:linear-gradient(#000c, #000c),  url(recursos/miembros/yoan.jpg) ;
}
.item_miembros:nth-child(7) {
    grid-column: span 2;
    background-image:linear-gradient(#000c, #000c),  url(recursos/miembros/alberto.jpg) ;
}
/* Games */

.div_juegosespera h2 {
    border-bottom: solid #70f 1px;
    color: #f7f;
    text-shadow: 0 0 10px #c2c6;
}

.div_juegosespera {
    margin:auto;
    color: #faf;
    border: #70f solid 1px;
    padding: 10px 14px;
    border-radius: 7px;
    background-color: #111d;
    box-shadow: 0 0 30px 5px #70f4;
    overflow: hidden;
    height: 50px;
    width: 250px;
    transition: 0.3s ;
}

.div_juegosespera:hover, .div_juegosespera:focus {
    height: 390px;
    width: 330px;
    box-shadow: 0 0 10px 1px #faf5;
    border: #f7f solid 1px;
}

.div_juegosespera li {
    font-size: 1.2rem;
}

.div_juegosespera ul ::marker {
    content: none;
}

.muyesperado {
    color: #f4f;
}


/* apuestas awards */



.div_awards2024 {
    margin: 25px 0 0 0;
    background: #fb5a00;
    padding-top:10px;
    border-radius: 10px;
    border-top:2px solid #fb9600dd;
}

.div_awards2024 h3 {
    text-align: center;
    color: #111;
    font-size: 1.9rem;
    padding:9px;
    
}

/* Pestañas*/

.pestana_pestana input{
    display:none;
}

.pestana_carrousel {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    text-align: center;
    margin-bottom:10px;
    padding:4px;
}

#pestana_apuestas, #pestana_goty, #pestana_novedades {
    display:none;
    margin-top:20px;
    animation-name: pestana_aparecer;
    animation-duration: 0.5s;
    
}

.pestana_carrousel:has(.pestana_pestana:nth-child(1) input:checked) ~ #pestana_apuestas {
    display:grid;

}

.pestana_carrousel:has(.pestana_pestana:nth-child(2) input:checked) ~ #pestana_goty {
    display:block;
}

.pestana_carrousel:has(.pestana_pestana:nth-child(3) input:checked) ~ #pestana_novedades {
    display:grid;
}

.pestana_container {
    background-color: #111;
    border-radius: 0 0 10px 10px;
}

.pestana_pestana {
    display:flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    transition: 0.3s;
}

.pestana_pestana:has(input:checked) {
    background-color:#fb5a00;
    border-radius: 2px;
    
}

/* fin pestañas */

.grid_awards2024 {

    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(120px,1fr));
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    gap: 10px;
    padding:10px;
}

.item_awards2024 {
    background: radial-gradient(#fb9600, #fb5a00);
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: start;
    gap:9px;
    flex-flow: column;
    align-items: center;
    border-radius: 6px;
    padding: 3px 3px 10px 3px;
    border: 1.5px solid #000;
}


.item_awards2024 img {
    margin: 8px 0 0 0;
    width:90%;
    border-radius: 10px;
    border: 1.3px solid #111;
}

.item_awards2024 p {
    text-shadow: 0 0 3px #ddd1;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
}

.item_awards2024 h4 {
    color: #111;
}

.item_awards2024 div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 30px 0 0;
    gap:5px;
    align-self: start;
    margin-left: 25px;
}

.item_awards2024 div img {
    width: 25px;
    border-radius: 50px;
    margin:0;
    padding:0;
}

.item_awards2024 div h5 {
    margin: 0px 0 0 0px;
}

/* ganador */

.ganador {
    padding:10px;
    border-radius:6px;
}

.item_ganador {
    width:90%;
    max-width:400px;
    background: radial-gradient(#fb9600, #fb5a00);
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: start;
    gap:9px;
    flex-flow: column;
    align-items: center;
    padding: 3px 3px 10px 3px;
    border: 1.5px solid #000;
    margin:auto;
    border-radius:6px;
}


.item_ganador img {
    margin: 15px 0 0 0;
    width:90%;
    border-radius: 10px;
}

.item_ganador p {
    text-shadow: 0 0 3px #ddd1;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
}

.a_awards {
    color:#ddd;
    margin:7px;
    font-size: 0.9rem;
    font-family: Times New Roman;
    font-weight: bold;
    text-decoration:none;
}

.item_blue {
    background: radial-gradient(#0094fb,#0054cffb);
    border-radius: 10px;
    padding:9px;
    border-bottom: 2px solid  #ddd;
    border-right: 2px solid  #ddd;
}

.item_blue:nth-child(2n) {
    background: radial-gradient(#ff4746,#eb0200);
}
/* MUSIC */

.bg_music {
    width:100%;
    height: 100vh;
    margin:0;
    backdrop-filter: blur(40px);
    
}



.music {
    background: #a00;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 10px #f00a;
    max-width: 400px;
}

.music img {
    display: block;
    max-width: 100%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 17px #000a;
}

.music p {
    text-align: center;
    padding: 15px 0 15px 0;
    font-size: 1.6rem;
    color: #111;
    text-shadow: 0 0 10px #d00;
    
}

.music a {
    margin: 6px 0 0 0 ;
    display: block;
    text-align: center;
    border-radius: 10px;
    background-color: #0a0a0a;
    padding: 13px 20px 10px 20px ;
    box-shadow: 0 0 17px #000a;
    text-decoration: none;
    color: #b00;
    font-size: 1.3rem;
}

.music audio {
    width: 100%;
    border-radius: 100px;
    box-shadow: 0 0 17px #000d;
}

.music audio::-webkit-media-controls-panel{
    background-color: #0a0a0a;
}

.music audio::-webkit-media-controls-play-button{
    background-color: #b00;
    border-radius: 50px;
}

.music audio::-webkit-media-controls-timeline {
    border-radius: 50px;
    background-color: #b00;
    margin:5px;
    padding: 10px;
}

.music audio::-webkit-media-controls-mute-button{
    background-color: #b00;
    border-radius:50px;
}

.music audio::-webkit-media-controls-current-time-display {
    font-family: Sans-Serif;
    font-weight: 900;
    color:#d00;
    text-shadow: 0 0 0px #000;
    
    
}

.music audio::-webkit-media-controls-time-remaining-display {
    font-family: Sans-Serif;
    font-weight: 900;
    color:#d00;
    text-shadow: 0 0 0px #000;

}

@keyframes pestana_aparecer {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes rgb_gradient {
  0% {
        color:#ee8b8c;
        border-color:#ee8b8c;
        text-shadow: 0 0 10px #ee8b8c;
  }
  20% {
        color: #e6a1f3;
        border-color: #e6a1f3;
        text-shadow: 0 0 10px #e6a1f3;
  }
  40% {
        color: #a1a6f4;
        border-color: #a1a6f4;
        text-shadow: 0 0 10px #a1a6f4;
        
  }
  60% {
        color: #b4f5ed;
        border-color: #b4f5ed;
        text-shadow: 0 0 10px #b4f5ed;
  }
  80% {
        color: #ccc;
        border-color: #ccc;
        text-shadow: 0 0 10px #ccc;
  }
  100% {
        color: #f6f3ab;
        border-color: #f6f3ab;
        text-shadow: 0 0 10px #f6f3ab;
  }
}

@keyframes zooming {
    from {
        letter-spacing:0.5px;
    }
    to {
        letter-spacing: 1px;
    }
}


@media screen and (min-width: 1000px) {
    :root {
        font-size: 13px;
    }
}