@font-face {
  font-family: "saiyasans";
  src: url("recursos/fuentes/Saiyan-Sans.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "pubgsans";
  src: url("recursos/fuentes/PUBG-SANS.ttf") format("truetype");
  font-weight: 600;
}

:root {
    font-size: 16px;
    background-image: url('recursos/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

html {
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    font-family: "pubgsans";
    color: #eee;
    background-color: #111c;
    
}

footer, header {
    width:100vw;
}

.material-symbols-outlined {
    font-size: 28px;
}

/*Header */

header {
    background-color: #000;
    position: sticky;
    top:0;
    z-index: 200;
}

h1 {
    text-align: center;
    font-family: saiyasans;
    font-size:  2rem;
    padding: 9px 9px 9px 38px;
    color: #f8e828;
    text-shadow: 0 0 20px #f8e828aa;
}

h1 span {
    color: #f00;
    text-shadow: 0 0 20px #f00c;
}

hr {
    align-self: stretch;
    border: solid 1px #000;
}

nav {
    text-align: center;
    padding: 3px;
    
}

nav div {
    position:absolute;
    margin: auto;
    display: flex;
    justify-content: start;
    list-style: none;
    width: 44px;
    flex-flow: column;
    height: 40px;
    z-index: 6;
    top:18px;
    left:5px;
    overflow: hidden;
    border:1px solid #ddd;
    border-radius: 3px ;
    transition: 0.1s;
    gap:2px;
}

 nav div:hover {
    position:fixed;
    background:   linear-gradient(  #211, #112,#212)  ;
    top:0;
    left:0px;
    height:100vh;
    width: 190px;
    border: none;
    border-right:1px solid #111;
    border-radius: 0;
    box-shadow: 0 0 30px #ddd2;
    z-index:100;
}

nav a {
    position: relative;
    top:0;
    font-family: "pubgsans";
    letter-spacing: 0.7px;
    display: none;
    font-size: 0.9rem ;
    line-height: 16px;
    text-decoration: none;
    color: #ddd;
    font-weight: bold;
    padding: 3px;
}

nav a.canal {
    display:none;
    text-align: start;
    margin:10px;
    padding:10px;
    position: relative;
    align-items: center;
    gap:6px;
    padding:8px;
    font-family: Arial;
    letter-spacing: 0px;
    background-color: #3ee433;
    color:#121;
    border-radius: 10px;
    font-weight: 500;
    border:1.2px solid #121;
    box-shadow: 0 0 15px #3ee433aa;
    text-shadow: 0 0 5px #dfd6;
}

nav a.canal img {
    width:50px;
    border-radius:100%;
    filter:none;
    box-shadow: 0 0 10px #1113;
    border:1.2px solid #121;
    
}

nav a.app {
    display:none;
    align-items: center;
    margin:10px;
    padding:10px;
    flex-flow:column;
    position: relative;
    align-items: center;
    gap:6px;
    padding:8px;
    font-family: Arial;
    letter-spacing: 0px;
    background-color: #1d59ec;
    color:#000;
    border-radius: 10px;
    font-weight: 500;
    border:1px solid #000;
    box-shadow: 0 0 15px #1d59ecaa;
    text-shadow: 0 0 5px #dfd6;
}

nav a.app img {
    width:50px;
    border-radius: 10px;
    filter:none;
    box-shadow: 0 0 10px #ddd3;
    border:1px solid #000;
    
}

nav a.app span {
    text-align: start;
    align-self: start;
    font-weight:400;
}

nav .menu_button {
    align-self: start;
    font-size: 33px;
}

nav a:has(.menu_button) {
    display:block;
}


.nav_btn_active {
    background-color: #fffd;
    border-radius: 4px ;
    color: #111;
}

nav div:hover a {
    display:block;
}

nav div:hover .canal , nav div:hover .app{
    display: flex;
}

/*Main */ 

.main_wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
    flex: 1;
    max-width: 1100px;
    margin:auto;
    animation: aparecer 0.4s 0.5s backwards;
}

main {
    font-size: 1rem;
    flex: 1 ;
    padding:25px;
}

h2 {
  font-family: "pubgsans";
    font-size: 1.7rem;
    text-align: center;
    margin: 0 0 15px 0;
    color: #fff;
    text-shadow: 0 0 20px #fffa;
}

/*Footer */ 

footer {
    text-align: center;
    font-size: 1.1rem;
    color: #ddd;
    margin-top: auto;
    background-color: #060606;
    padding: 30px;
}

/* Modal */

.modal {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: #00000057;
    border: none;
    backdrop-filter: blur(7px);
}

.modal div {
    position: relative;
    margin: auto;
    margin-top: 100px;
    padding: 20px 20px;
    width: 70%;
    max-width: 500px;
    border-radius: 12px;
    background-color: #eeea;
    box-shadow: 0 0 30px 10px #11111136 ;
}

.modal .yoandri_modal {
    display: block;
    margin: auto;
    height: 200px ;
}

.modal a {
    position: absolute;
    right: 0;
    top: 0;
    margin: 7px;
    background-color: transparent;
    border: none;
}

.modal a i {
    font-size: 22px;
    color: #000;
}

.modal p {
    color:rgb(37, 37, 37);
    font-size: 1.1rem;
    text-wrap: pretty;
    font-weight: 600;
}

.modal div p:first-of-type {
    font-size: 1.3rem;
    font-weight: bolder;
    color:#1f1e1e;
}

.modal div span {
    padding: 2px;
    color: #fffc;
    background-color: #141414;
    border-radius: 4px;
}

/* Yoandri */




.flex_gallery {
    margin: auto;
    display: flex;
    max-width: 750px ;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.flex_photo {
    position: relative;
    width: 100%;
    height: 100%;
    background: #11111aaa;
    overflow: hidden;
    border-radius: 3px 3px 15px 15px;
    padding: 0 8px 8px 10px;
    box-shadow: 0 0 20px 2px #fff2;
    border-top: 3px solid #ff2525;
    transition: 0.1s;
    bottom: 0;
    animation: aparecer_margin backwards linear;
    animation-timeline: view();
    animation-range: cover 8% cover 20%;
}

.flex_photo:hover {
    border-radius: 7px;
    border: 1.5px solid #ff2525;
    z-index: 3;
    backdrop-filter: blur(10px);
    transform: scale(1.06) ;
}


.flex_photo:first-child:hover {
    border-radius: 7px;
    border: 1.5px solid #00dd00;
    z-index: 10;
}

.flex_photo:first-child {
     border-top: 3px solid #00dd00;
}

.flex_photo:first-child p {
    color: #0b0;
}

.flex_photo p {
    padding: 9px;
    text-wrap: balance;
    font-size: 1.2rem;
    font-weight: 600;
    color:#ff3535;
    letter-spacing: 0.7px;
}

.flex_photo span {
    display: inline-block;
    font-size: 0.9rem;
    padding: 3px ;
    margin: 0 0 8px 10px;
    font-style: italic;
    font-weight: 500;
    border-radius: 3px;
    color: #ddd;
}



.flex_photo img {
    display: block;
    width: 100%;
    border-radius: 10px;
    margin:auto;
    border: 1px solid #111;
    filter: contrast(1.1) brightness(1.1);
}

.flex_photo_2025 {
    background-color: #1d1800;
}

.flex_photo_2025 p {
    color:#f1c800;
}

.flex_photo_2025:first-child p {
    color:#f1c800;
}

.flex_photo_2025 {
    border-top: 3px solid #f1c800;
}

.flex_photo_2025:first-child {
    border-top: 3px solid #f1c800;
}

/* Miembros */

.grid_miembros {
    display: grid;
    grid-template-columns: 1fr ;
    grid-auto-rows: 1fr;
    grid-auto-columns: auto;
    gap: 5px;
    margin:auto;
}

.item_miembros {
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
    border-radius: 100px;
    padding: 5px;
    box-shadow: 0 0 20px #fff4;
    border: 1.2px solid;
    background-position: center;
    background-size: cover;
    transition: 0.8s;
    background-image:linear-gradient(#0005, #0005), var(--bg-direction) ;
}





.item_miembros p {
    font-size: 1.5rem;
    padding:19px;
    text-shadow: 0 -1px 9px #000;
    transition: 0.8s;

}

.derek {
    background-position: 0 60%;
    color:#da8606;
}

.cristian {
    background-position: 0 20%;
    color: #ccc;
}

.maiko {
    color:#ffe2b9;
}
.yordan{
    color:#00b4c4;
}
.ramzes {
    color:#00b028;
}
.yoan {
    color:#7ed0fb;
}
.alberto {
    color:#f1bbfe;
}
.maikel {
    color:#d99e40;
}


.item_miembros:hover p{
    opacity: 0;
}
/* Games */

.div_juegosespera h2 {
    border-bottom: solid #d05d 1px;
    color: inherit;
    text-shadow: 0 0 20px #d057;
}

.div_juegosespera {
    margin:auto;
    color:#0a0a0a;
    border: #0a0a0a solid 1px;
    padding: 10px 14px;
    border-radius: 7px;
    background-color: #d05a;
    box-shadow: 0 0 20px 5px #d054;
    overflow: scroll;
    height: 50px;
    width: 250px;
    transition: 0.3s ;
}

.div_juegosespera li:nth-child(2n) {
    color: #ddf;
}

.div_juegosespera:hover, .div_juegosespera:focus {
    height: 490px;
    width: clamp(100px,100%,1200px);
    color: #d05;
    border: #d05 solid 1px;
    background-color: #0a0a0a;
}

.div_juegosespera li {
    font-size: 1.2rem;
}

.div_juegosespera ul ::marker {
    content: none;
}

.muyesperado {
    color: #f4f;
}


/* apuestas awards */



.div_awards2024 {
    margin: 25px 0 0 0;
    background: #fb5a00;
    padding-top:10px;
    border-radius: 10px;
    border-top:2px solid #fb9600dd;
}

.div_awards2024 h3 {
    text-align: center;
    color: #111;
    font-size: 1.9rem;
    padding:9px;
    
}

/* Pestañas*/

.pestana_pestana input{
    display:none;
}

.pestana_carrousel {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    text-align: center;
    margin-bottom:10px;
    padding:4px;
}

#pestana_apuestas, #pestana_goty, #pestana_novedades {
    display:none;
    margin-top:20px;
    animation: aparecer 0.5s both;
    
}

.pestana_carrousel:has(.pestana_pestana:nth-child(1) input:checked) ~ #pestana_apuestas {
    display:grid;

}

.pestana_carrousel:has(.pestana_pestana:nth-child(2) input:checked) ~ #pestana_goty {
    display:block;
}

.pestana_carrousel:has(.pestana_pestana:nth-child(3) input:checked) ~ #pestana_novedades {
    display:grid;
}

.pestana_container {
    background-color: #111;
    border-radius: 0 0 10px 10px;
}

.pestana_pestana {
    display:flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    transition: 0.3s;
}

.pestana_pestana:has(input:checked) {
    background-color:#fb5a00;
    border-radius: 2px;
    
}

/* fin pestañas */

.grid_awards2024 {

    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(120px,1fr));
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    gap: 10px;
    padding:10px;
}

.item_awards2024 {
    background: radial-gradient(#fb9600, #fb5a00);
    display: flex;
    justify-content: start;
    gap:9px;
    flex-flow: column;
    align-items: center;
    border-radius: 6px;
    padding: 3px 3px 10px 3px;
    border: 1.5px solid #000;
}


.item_awards2024 img {
    margin: 8px 0 0 0;
    width:90%;
    border-radius: 10px;
    border: 1.3px solid #111;
}

.item_awards2024 p {
    text-shadow: 0 0 3px #ddd1;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
}

.item_awards2024 h4 {
    color: #111;
}

.item_awards2024 div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 30px 0 0;
    gap:5px;
    align-self: start;
    margin-left: 25px;
}

.item_awards2024 div img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin:0;
    padding:0;
    object-fit: cover;
}

.item_awards2024 div h5 {
    margin: 0px 0 0 0px;
}

/* ganador */

.ganador {
    padding:10px;
    border-radius:6px;
}

.item_ganador {
    width:90%;
    max-width:400px;
    background: radial-gradient(#fb9600, #fb5a00);
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: start;
    gap:9px;
    flex-flow: column;
    align-items: center;
    padding: 3px 3px 10px 3px;
    border: 1.5px solid #000;
    margin:auto;
    border-radius:6px;
}


.item_ganador img {
    margin: 15px 0 0 0;
    width:90%;
    border-radius: 10px;
    border:1.5px solid #000;
}

.item_ganador p {
    text-shadow: 0 0 3px #ddd1;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
}

.a_awards {
    color:#ddd;
    margin:7px;
    font-size: 0.9rem;
    font-family: Times New Roman;
    font-weight: bold;
    text-decoration:none;
}

.item_blue {
    background: radial-gradient(#0094fb,#0054cffb);
    border-radius: 10px;
    padding:9px;
    border-bottom: 2px solid  #ddd;
    border-right: 2px solid  #ddd;
}

.item_blue:nth-child(2n) {
    background: radial-gradient(#ff4746,#eb0200);
}




/* MUSIC */



.music {
    background: #a00;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    padding: 15px;
    box-shadow: 0 0 10px #f00a;
    max-width: 400px;
}

.music img {
    display: block;
    max-width: 100%;
    margin: auto;
    border-radius: 100%;
    box-shadow: 0 0 17px #000a;
    animation: rotar 20s both infinite linear;
}

.music p {
    text-align: center;
    padding: 15px 0 15px 0;
    font-size: 1.6rem;
    color: #111;
    text-shadow: 0 0 10px #d00;
    
}

.music a {
    margin: 6px 0 0 0 ;
    display: block;
    text-align: center;
    border-radius: 10px;
    background-color: #0a0a0a;
    padding: 13px 20px 10px 20px ;
    box-shadow: 0 0 17px #000a;
    text-decoration: none;
    color: #b00;
    font-size: 1.3rem;
}

.music audio {
    width: 100%;
    border-radius: 100px;
    box-shadow: 0 0 17px #000d;
    
}

.music audio::-webkit-media-controls-panel{
    background-color: #0a0a0a;
}

.music audio::-webkit-media-controls-play-button{
    background-color: #b00;
    border-radius: 50px;
}

.music audio::-webkit-media-controls-timeline {
    border-radius: 50px;
    background-color: #b00;
    margin:5px;
    padding: 10px;
}

.music audio::-webkit-media-controls-mute-button{
    background-color: #b00;
    border-radius:50px;
}

.music audio::-webkit-media-controls-current-time-display {
    font-family: Sans-Serif;
    font-weight: 900;
    color:#d00;
    text-shadow: 0 0 0px #000;
    
    
}

.music audio::-webkit-media-controls-time-remaining-display {
    font-family: Sans-Serif;
    font-weight: 900;
    color:#d00;
    text-shadow: 0 0 0px #000;

}

/* SANDBOX */

.caja_ventilador{
    position:relative;
    width:100%;
    display: flex;
    margin:auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 600px;
    gap:20px;
    padding:10px;
    background: #f8732e;
    border:2px solid #fff;
    border-radius:  20px 20px;
}

.caja_ventilador img {
    display:block;
    width:90%;
    border-radius: 100%;
    border:2px solid #000;
    box-shadow: 0 0 30px #0003;
    animation:wuiu 0.4s both infinite linear;
    animation-play-state: paused;
    transition: 1s;
    filter: hue-rotate(160deg) contrast(1.1);
}

.caja_ventilador p {
    position: absolute;
    color:#000;
    font-family: Sans-Serif;
    font-size: 13px;
    width:80px;
}

.caja_ventilador p.frase_1 {
    bottom:30px;
    left:20px;
    transform: rotate(-10deg);
}

.caja_ventilador p.frase_2 {
    right:20px;
    bottom:30px;
    transform: rotate(10deg);
}

.caja_ventilador .boton_encender {
    padding:20px;
    color:#fff;
    background-color: transparent;
    font-size:20px;
    border-radius:100px;
    border:2px solid #111;
    transition: 0.2s;
}

.caja_ventilador .boton_encender:has(input:checked) {
    color:#fff;
    border:2px #111 solid;
    background-color: #111;
}

.caja_ventilador:has(.boton_encender input:checked)  img {
    animation-play-state: running;
}

.caja_ventilador .boton_encender input {
    display:none;
}



@keyframes sacudir {
    40% {
        transform: rotate(0deg);
    }
    45% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    55% {
        transform: rotate(0deg);
    }
}

@keyframes aparecer {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes aparecer_margin {
    from {
        opacity:0;
        margin-top:30px;
    }
    to {
        opacity:1;
    }
}

@keyframes wuiu {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(216deg);
    }
    100% {
        transform: rotate(359.9deg);
        
    }
}


@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@media screen and (min-width: 1000px) {
    :root {
        font-size: 13px;
    }
    
    nav {
        min-height: 14px;
    }
    
    .item_miembros p {
        font-size: 3rem;
        padding:30px;
    }
}