@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
@font-face {
  font-family: "Oxanium";
  src: url("recursos/fuentes/Oxanium.ttf") format("truetype");
}
@font-face {
  font-family: "arvo";
  src: url("recursos/fuentes/arvo.ttf") format("truetype");
}
@font-face {
  font-family: "BoldBait";
  src: url("recursos/fuentes/BoldBait.ttf") format("truetype");
}

@font-face {
  font-family: "saiyasans";
  src: url("recursos/fuentes/Saiyan-Sans.ttf") format("truetype");
  font-weight: 600;
}



html {
    font-size: 10px;
    background: url('recursos/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

a {
    color:inherit;
    font-size: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    font-family: "Oxanium";
    color: #dde;
    background-color: rgba(20,20,20,0.658);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

footer, header {
    width:100vw;
}

hr {
    border: solid 0.5px #fafaff66;
    margin:8px 0;
}



ul {
    list-style: none;
}

main > p {
    margin-top:1.3rem;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0 1rem;
}

/*Header */

i {
    font-size: 2.8rem;
    display: grid;
    place-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    position: fixed;
    left:0;
    top:0;
    z-index: 300;
    width:100%;
    padding:5px 9px ;
}

.nav_openner {
    padding:5px;
    border-radius: 2px;
    color: #fff;
    background: radial-gradient(#c81904aa, #c81904dd);
}

header input {
    display:none;
}

.nav {
    display:none;
    position: fixed;
    top:0;
    left:0;
    width:55%;
    max-width: 400px;
    background-color: #111;
    height: 100vh;
    overflow: auto;
    z-index: 300;
}

.nav_openner:has(input:checked) ~ .nav {
    display:block;
    animation: menu 0.4s both ;
}

.nav:has(input:checked) {
    display:block;
    animation: menu_out 0.4s both;
}

.nav_closer {
    color: #fafaff;
    position: absolute;
    top:20px;
    right:10px;
    border: 1px solid #fafaff;
    border-radius: 5px;
    transition: 0.2s;
}

.nav_closer i {
    font-size: 2.8rem;
}

.nav_closer:active {
    background-color: #fafaff;
    color: #000;
}

.nav .nav_logo {
    width:54px;
    height:54px;
    object-fit: cover;
    background-color: transparent;
    margin-top:10px;
    margin-left:20px;
    border-radius:100%;
}

.nav ul {
    display:flex;
    flex-direction: column;
    justify-content: start;
    padding:2px;
}

.nav span {
    font-size: 1.2rem;
    font-weight: 800;
    padding: .1rem 1.2rem .5rem 1.2rem;
    color: #fffa;
}

.nav li {
    padding:2px 6px;
    width:100%;
}

.nav ul a {
    padding:4px;
    display:flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    color: rgba(250,250,255,0.8);
    transition: .2s;
}

.nav ul a:active {
    letter-spacing: 0.5px;
    font-weight: 800;
}

.nav a p {
    margin:2px 5px ;
    font-weight: 600;
    font-size: 1.3rem;
}

.nav a i {
    font-size: 2.5rem;
    position: relative;
}

.nav a i.bi-newspaper:after {
    content:"";
    width: .8rem;
    height: .8rem;
    position: absolute;
    top:-.2rem;
    border-radius: 50%;
    background-color: #0f0;
    border: 2px solid #000;
    right: -.2rem;
}

.nav .nav_btn_active {
    color:#000;
    background-color: #fafaff;
    border-radius: 5px;
}

.nav .canal {
    display: flex;
    line-height: 30px;
    flex-direction: column;
    text-decoration: none;
    color:#fffb;
    justify-content: center;
    align-items: center;
    width:100%;
}

.nav .canal p {
    font-size: 1.2rem;
    font-weight: 400;
}

.nav .canal hr {
    align-self: stretch;
}

.nav .canal i {
    font-size: 3.6rem;
    color: #3ab125;
    transition: 0.4s color;
}


#title_header {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: saiyasans;
    text-decoration: none;
    font-size: 3.3rem;
    color: #f8e828;
    margin:auto;
    text-align: center;
    flex-grow: 1;
    padding:.3em .4em;
}

#title_header img {
    height: 2.9rem;
}


/*Main */ 

.main_wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
    flex: 1;
    max-width: 1100px;
    margin:auto;
    backdrop-filter: blur(20px) saturate(2);
    background: linear-gradient(40deg, rgba(11,17,27,0.800), rgba(12,15,18,0.760));
}

main {
    font-size: 1.1rem;
    flex: 1 ;
    padding: calc(5.8rem + .2em + 5px + 5rem) 15px 25px 15px;
}



.h1_fixer , .h1_false {
    position: fixed;
    top: calc(4.9rem + .3em + 5px);
    left:0;
    width:100%;
    z-index: 90;
}

.h1_fixer h1 , .h1_false span {
    position: relative;
    top:-2px;
    display: block;
    font-family: "BoldBait" , Sans-Serif;
    letter-spacing: .1rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    width:fit-content;
    margin: auto;
    color: #fff;
    padding: .3em .9em;
    background-color: #050505;
    text-transform: uppercase;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0px 10px #fff1;
}

.h1_fixer h1::before,.h1_fixer h1::after,
.h1_false span::before,.h1_false span::after{
    position: absolute;
    content:'';
    width: 18px;
    height: 18px;
    background-color: transparent;
}

.h1_fixer h1::before, .h1_false span:before{
    top:1.8px;
    left: -18px;
    border-top-right-radius: 50px;
    box-shadow: 4px -4px 0 4px #050505;
}
.h1_fixer h1::after, .h1_false span:after{
    top:1.8px;
    right: -18px;
    border-top-left-radius: 50px;
    box-shadow: -4px -4px 0 4px #050505;
}

/*Footer */ 

footer {
    text-align: center;
    font-size: 1.4rem;
    color: #ddd;
    margin-top: auto;
    background-color: #060606;
    padding: 2rem;
    font-family: Sans-Serif;
    font-weight: 800;
    z-index: 100;
}

footer a {
    margin:.5rem;
    font-size: 1.2rem;
    font-weight: 300; 
    color:#ccc; 
    text-decoration: none;
}

footer a[download] {
    font-weight: bold;
    color:rgb(252,199,199);
}

.footer_flex {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    max-height:30vh ;
}

/* Inicio */

.main_wrapper:has(.main_index) {
    animation:none;
}

.main_index {
    padding: calc(6rem + .2em + 5px ) 10px 10px 10px;
    box-shadow: 0 0 190px #0b111b;
}

h2 , .hx {
    margin: 0.8rem;
    padding:0.8rem;
    border-radius: 0rem;
    width:fit-content;
    margin:auto;
    text-align: start;
    font-size: 2.3rem;
}

.main_index .dialogue_yoandri {
    display: -webkit-flex;
    display: flex;
    padding: 5px;
    width: 95%;
    margin: 2rem auto 0 auto;
    overflow: hidden;
    gap:4px;
}

.main_index .dialogue_yoandri > img {
    display: block;
    padding:3px;
    width:5rem;
    object-fit: contain;
    margin-bottom:auto;
    border:2px solid #111;
    background-color: #eef;
    border-radius:100%;
    aspect-ratio: 1/1 ;
}

.main_index #user_name {
    font-size: 2.5rem;
}

.main_index .dialogue_yoandri section {
    position: relative;
    padding:7px;
    background-color: #eef;
    border-radius: 10px;
}

.main_index section p {
    color: #111;
    font-size: 1.7rem;
    font-weight: 200;
    word-wrap: justify;
}

.main_index section br ~ p:first-letter {
    font-size: 2rem;
}


.main_index b {
    font-weight: 900;
    font-size: inherit;
    color:inherit;
}

.main_index h1 {
    font-weight: 900;
    font-size: 1.7rem;
    color: #111;
    font-family: inherit;
}

.main_index .img_portada {
    position: relative;
    width:100%;
    border-radius: 4px;
}

.main_index .secciones_grid {
    display: -webkit-grid;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    background-color: #eef;
    border-radius: 10px;
    border: 1px solid #fff;
    gap:0.5rem;
    padding: 0.5rem;
    margin: 0 1rem;
}

.secciones_grid li {
    border-radius: 10px;
    background-color: #222;
    padding: .5rem;
    overflow: hidden;
    border: 1px solid #fff;
}

.secciones_grid a {
    display:-webkit-flex;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    color: #eef;
    margin: 0;
    gap:1rem;
    padding:1rem;
    border: 1px solid;
    border-radius: 8px;
    text-decoration: none;
}

.secciones_grid a[href="https://y0andri.github.io/yoandri.html"] div {
    color: #ff8215;
    text-shadow: 0 0 10px #000;
}
.secciones_grid a[href="https://y0andri.github.io/games.html"] div {
    color: #1eb7ff;
    text-shadow: 0 0 10px #000;
}
.secciones_grid a[href="https://y0andri.github.io/miembros.html"] div {
    color: #ff4343;
    text-shadow: 0 0 10px #000;
}
.secciones_grid a[href="https://y0andri.github.io/musica.html"] div {
    color: #ff65f9;
    text-shadow: 0 0 10px #000;
}
.secciones_grid a[href="https://y0andri.github.io/docs.html"] div {
    color: #844cfd;
    text-shadow: 0 0 10px #000;
}
.secciones_grid a[href="https://y0andri.github.io/sandbox.html"] div {
    color: #ffdd4b;
    text-shadow: 0 0 10px #000;
}
.secciones_grid a[href="https://y0andri.github.io/blog-page.html"] div {
    color: #67ff66;
    text-shadow: 0 0 10px #000;
}

.secciones_grid a div {
    text-align: center;
}

.secciones_grid a div p {
    margin-top:1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.secciones_grid a div i {
}

.secciones_grid a > p {
    color: #eef;
    font-size:1.2rem;
    text-align: center;
    font-weight: 300;
}

.timeline_discipulos {
    color:#eee;
    width: 100%;
    padding: 2rem 2rem 2rem 1.5rem;
    border:.15rem solid #ccc;
    border-radius: 1rem;
    background-color:rgba(14,18,36,0.984);
    background-size: contain;
    background-position: center;
}

.timeline_discipulos > div {
    display: -webkit-flex;
    display:flex;
    position: relative;
}

.timeline_discipulos span {
    padding: 1rem .5rem;
    text-align: end;
    margin-right: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    width: 10rem;
}

.timeline_discipulos p {
    width: 70%;
    flex-grow: 5;
    position: relative;
    padding: 1rem;
    font-weight: 500 ;
    font-size: 1.3rem;
    border-left: .2rem solid #eee;
}

.timeline_discipulos p > a {
    color:inherit;
}

.timeline_discipulos p:before {
    content: " ";
    position: absolute;
    left: -0.75rem;
    width: 1rem;
    height: 1rem;
    background-color: rgba(129,214,193,0.984);
    border: .2rem solid #111;
    border-radius: 50px;
}
.timeline_discipulos div:first-child p:after {
    content: " ";
    position: absolute;
    left: -0.48rem;
    top: 0;
    width: 0.7rem;
    height: 0.03rem;
    background-color: #eee;
    border: .1rem solid #eee;
    border-radius: 5px;
}
.timeline_discipulos div:last-child p:after {
    content: " ";
    position: absolute;
    left: -0.48rem;
    bottom: 0;
    width: 0.7rem;
    height: 0.03rem;
    background-color: #eee;
    border: .1rem solid #eee;
    border-radius: 5px;
}
/* Yoandri */
.flex_gallery {
    margin: auto;
    display: flex;
    max-width: 750px ;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.flex_photo {
    position: relative;
    width: 100%;
    height: 100%;
    background: #11111a;
    overflow: hidden;
    border-radius: 3px 3px 10px 10px;
    padding: 5px ;
    box-shadow: 0 0 20px 2px #fff2;
    border-top: 3px solid #ff2525;
    transition: 0.1s;
}

.flex_photo:active {
    border-radius: 7px;
    border: 1.5px solid #ff2525;
    z-index: 10;
    backdrop-filter: blur(10px);
    transform: scale(1.06) ;
}


.flex_photo:first-child:active {
    border-radius: 7px;
    border: 1.5px solid #00dd00;
    z-index: 10;
}

.flex_photo:first-child {
     border-top: 3px solid #00dd00;
}

.flex_photo:first-child p {
    color: #0b0;
}

.flex_photo p {
    padding: 9px;
    font-size: 1.6rem ;
    font-weight: 500;
    color:#ff3535;
}

.flex_photo span {
    display: inline-block;
    font-size: 1rem;
    padding: 3px ;
    margin: 0 0 8px 10px;
    font-style: italic;
    font-weight: 500;
    border-radius: 3px;
    color: #ddd;
}



.flex_photo img {
    display: block;
    width: 100%;
    border-radius: 15px 15px 10px 10px;
    margin:auto;
    border: 1px solid #111;
    filter: contrast(1.1) brightness(1.1);
}

.flex_photo_2025 {
    background-color: #1d1800;
}

.flex_photo_2025 p {
    color:#f1c800;
}

.flex_photo_2025:first-child p {
    color:#f1c800;
}

.flex_photo_2025 {
    border-top: 3px solid #f1c800;
}

.flex_photo_2025:first-child {
    border-top: 3px solid #f1c800;
}

/* Miembros */

.grid_miembros {
    display: -webkit-grid;
    display: grid;
    grid-template-columns: 1fr ;
    grid-auto-rows: 1fr;
    grid-auto-columns: auto;
    margin:auto;
}

.card_miembros {
    position: relative;
    width:100%;
    height:15rem;
    margin: 1rem 0;
    background-color: #111;
    transform-style: preserve-3d;
    transition: 1s transform;
    border-radius:10px;
}

.card_cont_miembros:hover .card_miembros {
    transform: perspective(700px) rotateY(180deg);
}

.derek {
    color:#da8606;
}.cristian {
    color: #ccc;
}.maiko {
    color:#ffe2b9;
}.yordan{
    color:#00b4c4;
}.ramzes {
    color:#00b028;
}.yoan {
    color:#7ed0fb;
}.alberto {
    color:#f1bbfe;
}.maikel {
    color:#d99e40;
}

.card_front_miembros, .card_back_miembros{
    height:100%;
    width:100%;
    position: absolute;
    border-radius: 10px;
    border: 1.2px solid;
    backface-visibility: hidden;
    background-image:linear-gradient(#0005, #0005), var(--bg-direction) ;
    background-position: center center;
    background-size: cover;
    transition: 0.8s;
}

.card_front_miembros {
    font-size: 2.8rem;
    letter-spacing: 1px;
    font-family: "BoldBait";
    font-weight: bolder;
    overflow: hidden;
    display: -webkit-grid;
    display:grid;
    place-content: center;
    z-index: 1;
}

.card_front_miembros > p {
    font-size: inherit;
    padding: 5px;
    text-align: center;
    text-shadow: 0 -1px 9px #000;
}

.card_front_miembros > p:before {
    margin:auto;
    content:"›";
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px;
    top:0;
    right:0;
    height: 100%;
    width:2.5rem;
    background-color: #111;
    text-shadow: none;
    
}

.skill_medal {
    position: absolute;
    bottom:0;
    left:0;
    display: -webkit-grid;
    display:grid;
    grid-template-columns: 1fr 1fr ;
    align-items: end;
    justify-items: start;
    width:100%;
    height:35%;
    padding:.3rem;
    gap:.5rem;
}

.skill_medal > div {
    display: -webkit-flex;
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    gap:5px;
    max-width: fit-content;
    align-items: center;
    background-color:#111 ;
    padding: 0 .5rem;
    border-radius: 2px 6px 6px 6px;
    border:1px solid;
}

.skill_medal img {
    height: 3rem;
    margin:.2rem;
}

.skill_medal p {
    color:#dedede;
    font-size: .8rem;
    font-weight: 500;
    font-family: "Oxanium";
    text-align: center;
    text-shadow: 0 0 5px solid #fff;
}

.cristian .skill_medal img:first-child {
    background-color: #f00;
    border-radius: 50%;
    padding:0;
}

.card_back_miembros {
    display:-webkit-grid;
    display:grid;
    place-content: center;
    grid-template-columns: 2fr 1fr;
    gap:5px;
    transform: rotateY(180deg);
    background-color: #0a0a11;
    padding: 10px;
    overflow: hidden;
}

.card_back_miembros p {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.card_back_miembros p:last-child {
    font-weight: 400;
    font-style: italic;
    color: #eee;
    display: -webkit-grid;
    display: grid;
    place-content: center;
}

.card_back_miembros b {
    border-radius:4px;
    padding:2px;
    color: #fff;
    text-shadow: 0 0 5px #000;
    background: linear-gradient(to right, #f00, #ffc603, #ff0000);
}

.cristian .card_back_miembros p:first-child {
    color: #ff1515;
}


/* Blog */

.main_blog {
    padding: calc(5.8rem + .2em + 5px + 5rem) 0rem 2rem 0rem;
    background-color: #0a0a0a;
    background-size: 200px;
    border: .5rem solid #111;
}

#blog {
    position: relative;
    overflow:auto;
    color: #112;
    font-family: Sans-Serif;
    padding:1.7rem;
    font-weight: 700;
    z-index: 5;
}

#blog div {
    font-size:1.2rem;
    position: relative;
    width:fit-content;
    border-radius: 1.5rem;
    max-width: 95%;
    margin: 0.8rem 0;
    padding: .9rem 1.3rem 1.8rem 1.3rem;
    background-color: #eef;
}

#blog div iframe {
    width:100%;
}

#blog div:before {
    content:" ";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #eef;
    border-radius: 50%;
    top: -0.4rem ;
    left: -1rem;
    margin:0;
    padding:0;
    
}
#blog div:after {
    position: absolute;
    width: fit-content;
    font-size:1rem;
    color:#fff;
    text-transform: uppercase;
    padding:1px 1.5rem 1px 1.5rem;
    border-radius: 100px 2px 100px 2px;
    bottom: 0rem ;
    right: 0rem;
    margin:0;
}
#blog div[cristian]:after {
    content:"Cristian";
    background-color:rgb(192,0,0) ;
}
#blog div[yordan]:after {
    content:"Yordan";
    background-color: rgb(0,143,145) ;
}
#blog div[derek]:after {
    content:"Derek";
    background-color: rgb(232,125,0);
}
#blog div[yoan]:after {
    content:"Yoan";
    background-color: rgb(0,109,216);
}
#blog div[maiko]:after {
    content:"Maiko";
    background-color:rgb(0,181,5) ;
}

#blog p {
    padding:.5rem;
}

#blog div a {
    color: rgb(170,0,76);
    font-family: Arial;
    font-weight: bold;
    animation: rgb-text 5s both infinite alternate;
    text-decoration: none;
    border-bottom: 0.1rem dashed;
    text-shadow: 0 0 10px;
}

#blog div img {
    margin:1rem 0 1rem 0;
    min-width: 100%;
}

#blog img {
    border-radius: 1.5rem;
    width:100%;
}

#blog div:has(img ~ a) {
    padding:0;
    background-color: transparent;
}

#blog div:has(img ~ a) img {
    margin:0;
}

#blog div img ~ a {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "arvo";
    bottom:0;
    left:0;
    text-align: center;
    min-height: 30%;
    font-size: 1.3rem;
    border:none;
    width: 100%;
    letter-spacing: 0.05rem;
    border-radius: 0 0 1.5rem 1.5rem;
    padding: 0.9rem 0.4rem 1.5rem 0.4rem;
    backdrop-filter:blur(12px);
    background-color: rgba(0,0,0,0.227);
    animation: destello both 7s infinite;
    color: #eee;
}

#blog aside{
    height: 100%;
    width:100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
}

#blog aside img{
    display: block;
    width:4.3rem;
    background-color: #eee;
    border-radius: 50%;
    border:0.1rem solid #eee;
    margin:1.5rem;
    animation: loop 1.3s both infinite linear ;
}

#blog aside span {
    display: block;
    font-size: 2rem;
}

/* Games */

.juegosespera {
    background-color: #0f0a0a;
    padding: 0 14px;
    border-radius: 10px;
    border: 1px solid #d05;
    color:#d05;
}

.juegosespera summary {
}

.juegosespera summary::marker {
    content: none;
}

.juegosespera h2 {
    font-size: 2.4rem;
    color: inherit;
    padding: 0.5em;
    text-align: center;
    text-shadow: 0 0 20px #d057;
}

.juegosespera[open] {
    padding-bottom: 14px;
}

.juegosespera li:nth-child(2n) {
    color: #ddf;
}

.juegosespera li {
    font-size: 1.75rem;
    font-weight: 500;
}

.juegosespera ul ::marker {
    content: none;
}


/* apuestas awards */



.div_awards2024 {
    margin: 25px 0 0 0;
    background: #fb5a00;
    padding-top:10px;
    border-radius: 10px;
    border-top:2px solid #fb9600dd;
}

.div_awards2024 h2 {
    text-align: center;
    color: #111;
    font-size: 2.9rem;
    padding: 0.4em;
    
}

/* Pestañas*/

.pestana_pestana input{
    display:none;
}

.pestana_carrousel {
    display:-webkit-grid;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    text-align: center;
    margin-bottom:10px;
    padding:4px;
}

#pestana_apuestas, #pestana_goty, #pestana_novedades {
    display:none;
    margin-top:20px;
    animation: aparecer 0.5s both;
    
}

.pestana_carrousel:has(.pestana_pestana:nth-child(1) input:checked) ~ #pestana_apuestas {
    display:grid;

}

.pestana_carrousel:has(.pestana_pestana:nth-child(2) input:checked) ~ #pestana_goty {
    display:block;
}

.pestana_carrousel:has(.pestana_pestana:nth-child(3) input:checked) ~ #pestana_novedades {
    display:grid;
}

.pestana_container {
    font-size: 1.4rem;
    font-weight:700;
    background-color: #111;
    border-radius: 0 0 10px 10px;
}

.pestana_pestana {
    display:flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    transition: 0.3s;
}

.pestana_pestana:has(input:checked) {
    background-color:#fb5a00;
    border-radius: 2px;
    
}

/* fin pestañas */

.grid_awards2024 {

    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(140px,1fr));
    grid-auto-rows: auto;
    gap: 10px;
    padding:10px;
}

.item_awards2024 {
    background: radial-gradient(#fb9600, #fb5a00);
    display: flex;
    justify-content: start;
    gap:0.9rem;
    flex-flow: column;
    align-items: center;
    border-radius: 6px;
    padding: 3px 3px 10px 3px;
    border: 1px solid #eeea;
}


.item_awards2024 img {
    margin: 8px 0 0 0;
    width:90%;
    border-radius: 10px;
    border: 1px solid #eeea;
}

.item_awards2024 p {
    text-shadow: 0 0 3px #ddd1;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
}

.item_awards2024 h4 {
    font-size: 1.3rem;
    color: #111;
    font-weight: bold;
}

.item_awards2024 div {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    border:1px solid #eee;
    border-radius: 0.5rem;
    align-items: center;
    margin:auto;
    justify-content: center;
    gap:0.5rem;
    padding:.4em;
    background-color: #111;
    align-self: start;
}

.item_awards2024 div img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin:0;
    padding:0;
    border:1px solid #eee;
    object-fit: cover;
}

.item_awards2024 div h5 {
    font-size: 1rem ;
    margin: 0px 0 0 0px;
}

/* ganador */

.ganador {
    padding:10px;
    border-radius:6px;
}

.item_ganador {
    width:90%;
    max-width:400px;
    background: radial-gradient(#fb9600, #fb5a00);
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: start;
    gap:9px;
    flex-flow: column;
    align-items: center;
    padding: 3px 3px 10px 3px;
    border: 1.1px solid #eeea;
    margin:auto;
    border-radius:6px;
}


.item_ganador img {
    margin: 15px 0 0 0;
    width:90%;
    border-radius: 10px;
    border:1.5px solid #eeea;
}

.item_ganador p {
    text-shadow: 0 0 3px #ddd1;
    color: #fff;
    font-size: 2.7rem;
    text-align: center;
}

.a_awards {
    color:#ddd;
    margin:7px;
    font-size: 1.3rem;
    font-family: Sans-Serif, Comic Sans MS;
    font-weight: bold;
    text-decoration:none;
}

.item_blue {
    background: radial-gradient(#0094fb,rgba(0,84,207,0.984));
    border-radius: 10px;
    padding:9px;
    border-bottom: 2px solid  #ddd;
    border-right: 2px solid  #ddd;
}

.item_blue:nth-child(2n) {
    background: radial-gradient(#ff4746,#eb0200);
}




/* MUSIC */



.music {
    border-radius: 20px;
    width: 80%;
    margin: auto;
    padding: 15px;
    max-width: 400px;
    margin-bottom:3rem;
}

.music img {
    display: block;
    max-width: 100%;
    margin: auto;
    border-radius: 100%;
    box-shadow: 0 0 17px #000a;
}

.music h2 {
    font-family: "Caesar Dressing";
    text-align: center;
    font-weight: 500;
    padding: 15px 0 15px 0;
    font-size: 2.7rem;
    color: #111;
    
}

.music a {
    margin: 6px 0 0 0 ;
    display: block;
    text-align: center;
    width: fit-content;
    border-radius: 100px;
    margin:auto;
    background-color: transparent;
    padding: 13px 10px 10px 14px ;
    box-shadow: 0 0 17px #0002;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    border:0.14rem solid #000;
    font-size: 1.7rem;
    margin-bottom:0.8rem;
}

.music a i {
    display: inline;
    font-size: 1.7rem;
    margin:0.8rem;
}

.music_tanques {
    background: #a00;
    box-shadow: 0 0 10px #f00a;
}
.music_marti {
    background: rgb(248,237,204);
    box-shadow: 0 0 10px rgb(248,237,204);
}

.music audio {
    width: 100%;
    border-radius: 100px;
    box-shadow: 0 0 17px #000d;
    
}

.music audio::-webkit-media-controls-panel{
    background-color: #0a0a0a;
}

.music audio::-webkit-media-controls-play-button{
    background-color: #eee;
    border-radius: 50px;
}

.music audio::-webkit-media-controls-timeline {
    border-radius: 50px;
    background-color: #eee;
    margin:5px;
    padding: 10px;
}

.music audio::-webkit-media-controls-mute-button{
    background-color: #eee;
    border-radius:50px;
}

.music audio::-webkit-media-controls-current-time-display {
    font-family: Sans-Serif;
    font-weight: 900;
    color:#eee;
    text-shadow: 0 0 0px #000;
    
    
}

.music audio::-webkit-media-controls-time-remaining-display {
    font-family: Sans-Serif;
    font-weight: 900;
    color:#eee;
    text-shadow: 0 0 0px #000;

}

/* SANDBOX */

.caja_ventilador{
    position:relative;
    width:100%;
    display: flex;
    margin:auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 600px;
    gap:20px;
    padding:10px;
    background: #fff7;
    backdrop-filter: blur(20px);
    border:1.4px solid #000;
    border-radius: 20px;
}

.caja_ventilador img {
    display:block;
    width:90%;
    border-radius: 100%;
    border:2px solid #000;
    box-shadow: 0 0 30px #0003;
    animation:wuiu 0.4s both infinite linear;
    animation-play-state: paused;
    transition: 1s;
    filter: hue-rotate(140deg) contrast(1.1) ;
}

.caja_ventilador .boton_encender {
    padding: 1em;
    color:#000;
    background-color: #fff;
    font-size: 2rem;
    font-weight: bold;
    border-radius:100px;
    border:2px solid #111;
    transition: 0.2s;
}

.caja_ventilador .boton_encender:has(input:checked) {
    color:#fff;
    border:2px #111 solid;
    background-color: #111;
}

.caja_ventilador:has(.boton_encender input:checked)  img {
    animation-play-state: running;
}

.caja_ventilador .boton_encender input {
    display:none;
}

/* Docs */


#protectedContent {
    display: none;
}

#passwordForm {
    position: relative;
    padding: 2rem;
    width: 90%;
    font-family: "Oxanium";
    background-color: rgb(6,8,11);
    color:#eee;
    max-width: 500px;
    margin: auto auto 0 auto;
    border-radius: 2rem;
    text-align: center;
    box-shadow: 0 0 0px 3000px  #111a;
}

#passwordForm h5 {
    font-size: 3rem;
    padding: 1rem 0;
    color: #c00;
    border-bottom:0.15rem solid ;
}

#passwordForm p {
    font-size: 1.5rem;
    margin:2.5rem 1rem 1rem 1rem;
    padding:1rem;
    font-weight: 600;
}

#passwordForm input {
    position: relative;
    padding: 1.3rem;
    margin-bottom: 10px;
    width: 100%;
    border-radius:10px;
    outline:none;
    background-color: transparent;
    color:#eee;
    box-sizing: border-box;
    border:0.2rem solid #c00;
    box-shadow: 0 0 10px #c00c;
    
}

#passwordForm button {
    position: relative;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 20px #c00c;
    margin-top:1.3rem;
    font-size: 1.4rem;
    font-family: inherit;
    font-weight: 700;
    background-color: #c00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
}

.loading_Contrasena {
    display: flex;
    padding:0.3rem;
    width:100%;
    margin-top:0.4rem;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.loading_Contrasena img {
    display: block;
    width:2.3rem;
    background-color: #f00;
    border-radius: 50%;
    border:0.1rem solid #f00;
    animation: loop 1.3s both infinite linear ;
}

.loading_Contrasena b {
    display: block;
    color: #f00;
    margin:0.5rem auto 0 auto;
    
}

#passwordForm button:hover {
    background-color: #eee;
    color:#c22;
    box-shadow: none;
}

p#errorMessage {
    color: #fff;
    font-size:1.4rem;
    font-weight: 400;
    border-radius: 0.4rem;
    padding:0.5rem;
    width:fit-content;
    max-width: 70%;
    margin:1.3rem  auto 1rem auto;
    display: none;
}

#protectedContent iframe {
    height: 40rem;
}

.grid_documents {
    display:-webkit-flex;
    display: flex;
    flex-flow: column;
    justify-content: start;
}

.documents_element {
    position: relative;
    border-radius: 1rem;
    background-color: rgb(30,109,248);
    color:#111;
    margin:0.4rem;
    padding: 0.5rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    border:0.15rem solid;
}

.documents_element iframe {
    background-color: #fff;
    color:#fff;
    border:0.15rem solid #111;
    border-radius: 0.9rem;
}

.documents_element:before {
    content: '«';
    position: absolute;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width:1.4rem;
    height: 3.7rem;
    top:1.9rem;
    box-sizing: border-box;
    padding:0.2rem;
    right:0.4rem;
    color:#fff;
    pointer-events: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: inherit;
}

.documents_element h2 {
    font-size:1.7rem;
    padding:1rem;
}

.documents_element a {
    display: block;
    color:rgb(30,109,248);
    background-color: #111;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 0.7rem;
    padding:1rem;
}

/* FaQ */

#main_faq {
    background-color: rgb(233,233,254);
    color:#111;
}

#main_faq .question {
    margin-top:1rem;
    font-weight: 500;
    overflow: hidden;
    font-family: Sans-Serif;
    border-radius: 0.8rem;
    background-color: rgb(244,244, 255);
    box-shadow: 0 0 1.9rem rgba(0,0,0,0.130);
}

#main_faq .question h1, .question h2 {
    position: relative;
    font-size: 1.5rem;
    position: relative;
    font-weight: bold;
    padding:0.6rem;
    color:#eef;
    width: 100%;
    margin-bottom: 0.4rem;
    background-color: #111;
    border-radius: 0.8rem 0.8rem 0 0;
}

#main_faq .question h1::before, .question h2::before {
    content:"•";
    position: absolute;
    right: 0.8rem;
}

#main_faq .question p {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0.7rem;
}

/* Memed */

.memes_flex {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.memes_flex > div {
    position: relative;
    flex-grow: 1;
    flex-basis:300px;
    margin:0.8rem;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 1.2rem;
}

.memes_flex img {
    position: relative;
    width:100%;
}

.memes_flex div:before {
    display: none;
    content: " ";
    position: absolute;
    bottom:1rem;
    left:1rem;
    width:6rem;
    height: 6rem;
    background: url(recursos/publicaciones/Yoandri-El-Negro-en-la-escuela.jpg);
    background-size: cover;
    opacity: 0.5;
    background-repeat: none;
    z-index: 5;
}


/*Elements*/

.border-top {
    border-top: 0.1rem solid;
}




@keyframes loop {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@keyframes nain {
    0% {
        left:0;
    }
    25% {
        left: 0.5rem;
    }
    
    50% {
        left:-0.5rem;
    }
    
    75% {
        left: 0.5rem;
    }
    
    100% {
        left:0;
    }
}

@keyframes sacudir {
    40% {
        transform: rotate(0deg);
    }
    45% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    55% {
        transform: rotate(0deg);
    }
}

@keyframes rgb-text {
    0% {
        color:rgb(0,46,173);
    }
    25% {
        color: rgb(173,152,0);
    }
    50% {
        color:rgb(173,0,0);
    }
    75% {
        color:rgb(0,173,29);
    }
    100% {
        color:rgb(173,0,149);
    }
}

@keyframes aparecer {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes aparecer_margin {
    from {
        opacity:0;
        margin-top:30px;
    }
    to {
        opacity:1;
    }
}

@keyframes wuiu {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(216deg);
    }
    100% {
        transform: rotate(359.9deg);
        
    }
}

@keyframes destello {
    0% {
        text-shadow: 0 0 15px rgba(0,0,0,0.64);
    }
    80% {
        text-shadow: 0 0 15px rgba(0,0,0,0.64);
    }
    85% {
        text-shadow: 0 0 25px rgba(255,255,255,0.683);
    }
    90% {
        text-shadow: 0 0 15px rgba(0,0,0,0.64);
    }
    95% {
        text-shadow: 0 0 25px rgba(255,255,255,0.683);
    }
    100% {
        text-shadow: 0 0 15px rgba(0,0,0,0.64);
    }
}


@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes menu {
    from {
        transform: translateX(-100%) ;
    }
    to {
        transform: translateX(0) ;
    }
}

@keyframes menu_out {
    0% {
        display: block;
        transform: translateX(0) ;
    }
    98% {
        display:block;
    }
    100% {
        display: none;
        transform: translateX(-110%) ;
    }
}

@keyframes aparecer-blur {
    0% {
        opacity: 0.6;
        width:20vw;
    }
    100% {
        opacity: 1;
        width: 55vw;
    }
}

@supports not (selector(:has(*))) {
    
    html {
        background: none;
        background-color: rgb(13,14,29);
    }
    
    .card_front_miembros {
        display: -webkit-flex;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .card_back_miembros {
        display: -webkit-flex;
        display: flex;
    }
    
    .card_back_miembros p:nth-child(2) {
        
    }
    
    .flex_photo {
        margin-bottom: 1.3rem;
        -webkit-box-shadow: 0 0 20px rgba(250,250,255,0.200);
    }
    
    .flex_photo p {
        font-weight: 600;
    }
    
    .main_blog {
        background-color: #111;
    }
    
    #blog div img ~ a {
        background-color: rgba(240,240,250,0.900);
        border-top:0.15rem solid #000;
        color:#111;
        text-shadow: 0 0 10px #fff;
        animation: none;
    }


    .nav_openner {
        display:none;
    }
    
    .nav {
        position: absolute;
        width:4rem;
        height:4rem;
        overflow:hidden;
        display:block;
        top:20%;
        z-index:140;
        border-radius:0.3rem;
        border:1px solid #111;
    }
    
    .nav:before {
    content:"☰";
    border-radius: 0.3rem;
    position: absolute;
    font-size: 2.9rem;
    padding-left: .23em;
    font-weight: 100;
    color:#fff;
    top:0rem;
    left:0rem;
    background-color:#c81904;
    width: 4rem;
    height:4rem;
    z-index: 101;
    transition: none;
}

    .nav:hover, .nav:focus {
    position: absolute;
    top:0;
    width:55vw;
    max-width: 400px;
    height:100vh;
    border:none;
    overflow-y: scroll;
    animation: aparecer-blur 0.3s both;
}

    .nav:hover:before {
    opacity:0;
}

    .nav .nav_logo {
        border-radius: 50%;
    }

    .nav .nav_closer {
        display:none;
    }

    .nav .canal {
        color: #aaa;
    }
    
    .dialogue_yoandri img {
        width: 5rem;
        height:5rem;
        aspect-ratio: none;
    }
    
    .juegosespera h2 {
        padding: 0.7rem;
        font-family: "BoldBait";
        letter-spacing: 0.2rem;
        font-weight: 600;
        font-size: 2.9rem;
    }
    
    summary {
        outline: none;
    }
    
    .juegosespera li {
        font-weight: bold;
    }
    
    .div_awards2024 h2 {
        font-family: "BoldBait";
        letter-spacing: 0.2rem;
        font-weight: 600;
    }
    
    .div_awards2024 p {
        font-weight: bold;
    }
    
    #pestana_apuestas, #pestana_novedades {
        display:-webkit-flex;
        display:flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
    }
    #pestana_goty {
        display: block;
    }
    
    .pestana_pestana {
        display: none;
    }
    
    #pestana_goty:before, #pestana_novedades:before , #pestana_apuestas:before {
        display: block;
        margin:auto;
        color:#fb5a00;
        text-align: center;
        width:100%;
        font-family:"BoldBait";
        letter-spacing: 0.2rem;
        font-size: 2.4rem;
        padding:0.7rem;
        font-weight: 800;
        border-radius: 15%;
        border-top: 0.2rem solid;
    }
    
    #pestana_apuestas:before {
       content: "Apuestas para el GOTY";
    }
    #pestana_goty:before {
       content: "Game of the Year";
    }
    #pestana_novedades:before {
       content: "Novedades";
       
    }
    
    .item_awards2024, .item_blue {
        width:35%;
        flex-grow: 1;
        margin:0.4rem;
    }
    
    .item_awards2024 > * , .item_blue > * {
        margin-top: 0.9rem;
    }
    
    .item_awards2024 div {
        margin-top: 0.5rem;
    }
    
    #pestana_goty p {
        margin-top:0.9rem;
    }
    
    #footer {
        z-index: 50;
    }
}

@media screen and (max-width: 360px) {
    html {
        font-size: 8px;
    }
}

@media screen and (min-width: 590px) {
    html {
        font-size: 14px;
    }
}


@media screen and (min-width: 1000px) {
    html {
        font-size: 16px;
    }
    
    .grid_miembros {
        grid-template-columns: 1fr 1fr;
    }
    
    .grid_awards2024 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}