@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
@font-face {
  font-family: "Oxanium";
  src: url("recursos/fuentes/Oxanium.ttf") format("truetype");
}
@font-face {
  font-family: "BoldBait";
  src: url("recursos/fuentes/BoldBait.ttf") format("truetype");
}

@font-face {
  font-family: "saiyasans";
  src: url("recursos/fuentes/Saiyan-Sans.ttf") format("truetype");
  font-weight: 600;
}



html {
    font-size: 10px;
    background: url('recursos/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    font-family: "Oxanium";
    color: #eee;
    background-color: #111c;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

footer, header {
    width:100vw;
}

hr {
    border: solid 0.5px #fafaffaa;
    margin-bottom:10px;
}

ul {
    list-style: none;
}

/*Header */

i {
    font-size: 2.8rem;
    display: grid;
    place-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #050505;
    position: fixed;
    left:0;
    top:0;
    z-index: 100;
    width:100%;
    padding:5px 9px ;
}

.nav_openner {
    padding:5px;
    border-radius: 2px;
    color: #fff;
    background: radial-gradient(#c81904aa, #c81904dd);
}

header input {
    display:none;
}

.nav {
    display:none;
    position: fixed;
    top:0;
    left:0;
    width:50%;
    max-width: 300px;
    background-color: #111;
    height: 100dvh;
    z-index: 200;
}

.nav_openner:has(input:checked) ~ .nav {
    display:block;
    animation: menu 0.4s both ;
}

.nav:has(input:checked) {
    display:block;
    animation: menu_out 0.4s both;
}

.nav_closer {
    color: #fafaff;
    position: absolute;
    top:20px;
    right:10px;
    border: 1px solid #fafaff;
    border-radius: 5px;
    transition: 0.2s;
}

.nav_closer i {
    font-size: 2.8rem;
}

.nav_closer:active {
    background-color: #fafaff;
    color: #000;
}

.nav .nav_logo {
    width:54px;
    height:54px;
    object-fit: cover;
    background-color: #fff;
    margin-top:10px;
    margin-left:20px;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    filter: brightness(2)  contrast(2);
}

.nav ul {
    display:flex;
    flex-direction: column;
    justify-content: start;
    padding:2px;
}

.nav li {
    padding:2px;
    width:100%;
}

.nav ul a {
    padding:4px;
    display:flex;
    text-transform: capitalize;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fafaff;
    transition: .2s;
}

.nav ul a:active {
    letter-spacing: 0.5px;
    font-weight: 800;
}

.nav a p {
    margin:2px;
    font-weight: 400;
    font-size: 1rem;
}

.nav .nav_btn_active {
    color:#000;
    background-color: #fafaff;
    border-radius: 5px;
}

.nav .canal {
    display: flex;
    line-height: 30px;
    flex-direction: column;
    text-decoration: none;
    color:#fffb;
    justify-content: center;
    align-items: center;
    position: absolute;
    width:100%;
    bottom:40px;
    left:0px;
}

.nav .canal p {
    font-size: 1.2rem;
    font-weight: 400;
}

.nav .canal hr {
    align-self: stretch;
}

.nav .canal i {
    font-size: 3.6rem;
    color: #3ab125;
    transition: 0.4s color;
}


h1 {
    font-family: saiyasans;
    font-size: 3.3rem;
    color: #f8e828;
    text-shadow: 0 0 15px #f8e828aa;
    margin:auto;
    text-align: center;
    flex-grow: 1;
    padding:.2em;
}

h1 span {
    color: #f00;
    text-shadow: 0 0 20px #f00c;
}





/*Main */ 

.main_wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
    flex: 1;
    max-width: 1100px;
    margin:auto;
    animation: aparecer 0.4s 0.5s backwards;
}

main {
    font-size: 1.1rem;
    flex: 1 ;
    padding: calc(5.8rem + .2em + 5px + 5rem) 15px 25px 15px;
}

.h2_fixer {
    position: fixed;
    top: calc(5.8rem + .2em + 5px);
    left:0;
    width:100%;
    z-index: 90;
}

.h2_fixer h2 {
    position: relative;
    top:-2px;
    display: block;
    font-family: "BoldBait" , Sans-Serif;
    letter-spacing: .1rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    width:fit-content;
    margin: auto;
    color: #fff;
    padding: .3em .9em;
    background-color: #050505;
    text-transform: uppercase;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0px 10px #fff1;
}

h2::before, h2::after {
    position: absolute;
    content:'';
    width: 18px;
    height: 18px;
    background-color: transparent;
}

h2::before {
    top:1.8px;
    left: -18px;
    border-top-right-radius: 50px;
    box-shadow: 4px -4px 0 4px #050505;
}
h2::after {
    top:1.8px;
    right: -18px;
    border-top-left-radius: 50px;
    box-shadow: -4px -4px 0 4px #050505;
}

/*Footer */ 

footer {
    text-align: center;
    font-size: 1.4rem;
    color: #ddd;
    margin-top: auto;
    background-color: #060606;
    padding: 30px;
    font-family: Sans-Serif;
    font-weight: 800;
    z-index: 100;
}

.condiciones {

    margin: auto;

    color: #aaa;
    text-decoration: none;
}

/* Inicio */

.main_wrapper:has(.main_index) {
    animation:none;
}

.main_index {
    padding: calc(6rem + .2em + 5px ) 10px 10px 10px;
    backdrop-filter: blur(20px);
    background: linear-gradient(40deg, #0b111baa, #0c0f12);
    box-shadow: 0 0 190px #0b111b;
}

.main_index .dialogue_yoandri {
    display: grid;
    padding: 5px;
    grid-template-columns: 6rem 1fr;
    width: 95%;
    margin: 2rem auto 0 auto;
    overflow: hidden;
    gap:4px;
}

.main_index .dialogue_yoandri > img {
    display: block;
    width:5.5rem; 
    height: 5.5rem ;
    padding:5px;
    object-fit: contain;
    margin-bottom:auto;
    border:2px solid #111;
    background-color: #eef;
    border-radius:100%;
}

.main_index #user_name {
    font-size: 2.5rem;
}

.main_index .dialogue_yoandri section {
    position: relative;
    padding:7px;
    background-color: #eef;
    border-radius: 10px;
}

.main_index section p {
    color: #111;
    font-size: 1.7rem;
    font-weight: 200;
    word-wrap: justify;
}

.main_index section br ~ p:first-letter {
    font-size: 2rem;
}


.main_index b {
    font-weight: 900;
}

.main_index .img_portada {
    position: relative;
    width:100%;
    border-radius: 4px;
}

.main_index .secciones_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 10rem;
    background-color: #eef;
    border-radius: 10px;
    border: 1px solid #fff;
    gap:1rem;
    padding: 1rem;
    margin: 0 1rem;
}

.secciones_grid li {
    border-radius: 10px;
    background-color: #0c0f12ee;
    padding: .5rem;
    overflow: hidden;
    border: 1px solid #fff;
}

.secciones_grid a {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    color: #eef;
    margin: 0;
    gap:1rem;
    padding:1rem;
    border: 1px solid;
    border-radius: 8px;
    text-decoration: none;
}

.secciones_grid a[href="yoandri.html"] div {
    color: #ff8215;
    text-shadow: 0 0 10px #000;
}
.secciones_grid a[href="games.html"] div {
    color: #1eb7ff;
    text-shadow: 0 0 10px #000;
}
.secciones_grid a[href="miembros.html"] div {
    color: #ff4343;
    text-shadow: 0 0 10px #000;
}
.secciones_grid a[href="musica.html"] div {
    color: #ff65f9;
    text-shadow: 0 0 10px #000;
}
.secciones_grid a[href="sandbox.html"] div {
    color: #ffdd4b;
    text-shadow: 0 0 10px #000;
}

.secciones_grid a div p {
    margin-top:1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.secciones_grid a > p {
    font-size:1.2rem;
    text-align: center;
    font-weight: 300;
}

/* Yoandri */




.flex_gallery {
    margin: auto;
    display: flex;
    max-width: 750px ;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.flex_photo {
    position: relative;
    width: 100%;
    height: 100%;
    background: #11111a;
    overflow: hidden;
    border-radius: 3px 3px 10px 10px;
    padding: 5px ;
    box-shadow: 0 0 20px 2px #fff2;
    border-top: 3px solid #ff2525;
    transition: 0.1s;
    bottom: 0;
    animation: aparecer_margin backwards linear;
    animation-timeline: view();
    animation-range: cover 8% cover 20%;
}

.flex_photo:active {
    border-radius: 7px;
    border: 1.5px solid #ff2525;
    z-index: 10;
    backdrop-filter: blur(10px);
    transform: scale(1.06) ;
}


.flex_photo:first-child:active {
    border-radius: 7px;
    border: 1.5px solid #00dd00;
    z-index: 10;
}

.flex_photo:first-child {
     border-top: 3px solid #00dd00;
}

.flex_photo:first-child p {
    color: #0b0;
}

.flex_photo p {
    padding: 9px;
    font-size: 1.6rem ;
    font-weight: 500;
    color:#ff3535;
}

.flex_photo span {
    display: inline-block;
    font-size: 1rem;
    padding: 3px ;
    margin: 0 0 8px 10px;
    font-style: italic;
    font-weight: 500;
    border-radius: 3px;
    color: #ddd;
}



.flex_photo img {
    display: block;
    width: 100%;
    border-radius: 15px 15px 10px 10px;
    margin:auto;
    border: 1px solid #111;
    filter: contrast(1.1) brightness(1.1);
}

.flex_photo_2025 {
    background-color: #1d1800;
}

.flex_photo_2025 p {
    color:#f1c800;
}

.flex_photo_2025:first-child p {
    color:#f1c800;
}

.flex_photo_2025 {
    border-top: 3px solid #f1c800;
}

.flex_photo_2025:first-child {
    border-top: 3px solid #f1c800;
}

/* Miembros */

.grid_miembros {
    display: grid;
    grid-template-columns: 1fr ;
    grid-auto-rows: 1fr;
    grid-auto-columns: auto;
    gap: 1.5rem;
    margin:auto;
}

.card_miembros {
    position: relative;
    width:100%;
    height:15rem;
    transform-style: preserve-3d;
    transition: 1s transform;
}

.card_cont_miembros:hover .card_miembros {
    transform: perspective(700px) rotateY(180deg);
}

.derek {
    color:#da8606;
}.cristian {
    color: #ccc;
}.maiko {
    color:#ffe2b9;
}.yordan{
    color:#00b4c4;
}.ramzes {
    color:#00b028;
}.yoan {
    color:#7ed0fb;
}.alberto {
    color:#f1bbfe;
}.maikel {
    color:#d99e40;
}

.card_front_miembros, .card_back_miembros{
    height:100%;
    width:100%;
    position: absolute;
    border-radius: 10px;
    border: 1.2px solid;
    backface-visibility: hidden;
    background-image:linear-gradient(#0005, #0005), var(--bg-direction) ;
    background-position: center center;
    background-size: cover;
    transition: 0.8s;
}

.card_front_miembros {
    font-size: 2.8rem;
    font-family: "BoldBait";
    font-weight: bolder;
    overflow: hidden;
    display: grid;
    place-content: center;
    z-index: 1;
}

.card_front_miembros p {
    font-size: inherit;
    padding: 5px;
    text-shadow: 0 -1px 9px #000;
}

.card_front_miembros p:before {
    display: grid;
    place-content: center;
    content:"›";
    position:absolute;
    top:0;
    right:0;
    height: 100%;
    width:2.5rem;
    background-color: #111;
    text-shadow: none;
}

.card_back_miembros {
    display:grid;
    place-content: center;
    grid-template-columns: 2fr 1fr;
    gap:5px;
    transform: rotateY(180deg);
    background-color: #0a0a11;
    padding: 10px;
    overflow: hidden;
}

.card_back_miembros p {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.card_back_miembros p:last-child {
    font-weight: 400;
    font-style: italic;
    color: #eee;
    display: grid;
    place-content: center;
}

.card_back_miembros b {
    border-radius:4px;
    padding:2px;
    color: #fff;
    text-shadow: 0 0 5px #000;
    background: linear-gradient(to right, #f00, #ffc603, #ff0000);
}

.cristian .card_back_miembros p:first-child {
    color: #ff1515;
}

/* Games */

.juegosespera {
    background-color: #0f0a0a;
    padding: 0 14px;
    border-radius: 10px;
    border: 1px solid #d05;
    color:#d05;
}

.juegosespera summary {
    list-style: none;
}

.juegosespera h3 {
    font-size: 2.4rem;
    color: inherit;
    padding: 0.5em;
    text-align: center;
    text-shadow: 0 0 20px #d057;
}

.juegosespera[open] {
    padding-bottom: 14px;
}

.juegosespera li:nth-child(2n) {
    color: #ddf;
}

.juegosespera li {
    font-size: 1.75rem;
    font-weight: 500;
}

.juegosespera ul ::marker {
    content: none;
}


/* apuestas awards */



.div_awards2024 {
    margin: 25px 0 0 0;
    background: #fb5a00;
    padding-top:10px;
    border-radius: 10px;
    border-top:2px solid #fb9600dd;
}

.div_awards2024 h4 {
    text-align: center;
    color: #111;
    font-size: 2.9rem;
    padding: 0.4em;
    
}

/* Pestañas*/

.pestana_pestana input{
    display:none;
}

.pestana_carrousel {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    text-align: center;
    margin-bottom:10px;
    padding:4px;
}

#pestana_apuestas, #pestana_goty, #pestana_novedades {
    display:none;
    margin-top:20px;
    animation: aparecer 0.5s both;
    
}

.pestana_carrousel:has(.pestana_pestana:nth-child(1) input:checked) ~ #pestana_apuestas {
    display:grid;

}

.pestana_carrousel:has(.pestana_pestana:nth-child(2) input:checked) ~ #pestana_goty {
    display:block;
}

.pestana_carrousel:has(.pestana_pestana:nth-child(3) input:checked) ~ #pestana_novedades {
    display:grid;
}

.pestana_container {
    font-size: 1.4rem;
    font-weight:700;
    background-color: #111;
    border-radius: 0 0 10px 10px;
}

.pestana_pestana {
    display:flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    transition: 0.3s;
}

.pestana_pestana:has(input:checked) {
    background-color:#fb5a00;
    border-radius: 2px;
    
}

/* fin pestañas */

.grid_awards2024 {

    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(140px,1fr));
    grid-auto-rows: auto;
    gap: 10px;
    padding:10px;
}

.item_awards2024 {
    background: radial-gradient(#fb9600, #fb5a00);
    display: flex;
    justify-content: start;
    gap:9px;
    flex-flow: column;
    align-items: center;
    border-radius: 6px;
    padding: 3px 3px 10px 3px;
    border: 1px solid #eeea;
}


.item_awards2024 img {
    margin: 8px 0 0 0;
    width:90%;
    border-radius: 10px;
    border: 1px solid #eeea;
}

.item_awards2024 p {
    text-shadow: 0 0 3px #ddd1;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
}

.item_awards2024 h4 {
    font-size: 1.3rem;
    color: #111;
    font-weight: bold;
}

.item_awards2024 div {
    display: flex;
    flex-direction: column;
    border:1px solid #eee;
    border-radius: 5px;
    align-items: center;
    margin:auto;
    justify-content: center;
    gap:5px;
    padding:.4em;
    background-color: #111;
    align-self: start;
}

.item_awards2024 div img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin:0;
    padding:0;
    border:1px solid #eee;
    object-fit: cover;
}

.item_awards2024 div h5 {
    font-size: 1rem ;
    margin: 0px 0 0 0px;
}

/* ganador */

.ganador {
    padding:10px;
    border-radius:6px;
}

.item_ganador {
    width:90%;
    max-width:400px;
    background: radial-gradient(#fb9600, #fb5a00);
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: start;
    gap:9px;
    flex-flow: column;
    align-items: center;
    padding: 3px 3px 10px 3px;
    border: 1.1px solid #eeea;
    margin:auto;
    border-radius:6px;
}


.item_ganador img {
    margin: 15px 0 0 0;
    width:90%;
    border-radius: 10px;
    border:1.5px solid #eeea;
}

.item_ganador p {
    text-shadow: 0 0 3px #ddd1;
    color: #fff;
    font-size: 2.7rem;
    text-align: center;
}

.a_awards {
    color:#ddd;
    margin:7px;
    font-size: 1.3rem;
    font-family: Sans-Serif, Comic Sans MS;
    font-weight: bold;
    text-decoration:none;
}

.item_blue {
    background: radial-gradient(#0094fb,#0054cffb);
    border-radius: 10px;
    padding:9px;
    border-bottom: 2px solid  #ddd;
    border-right: 2px solid  #ddd;
}

.item_blue:nth-child(2n) {
    background: radial-gradient(#ff4746,#eb0200);
}




/* MUSIC */



.music {
    background: #a00;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    padding: 15px;
    box-shadow: 0 0 10px #f00a;
    max-width: 400px;
}

.music img {
    display: block;
    max-width: 100%;
    margin: auto;
    border-radius: 100%;
    box-shadow: 0 0 17px #000a;
    animation: rotar 20s both infinite linear;
}

.music p {
    font-family: "Caesar Dressing";
    text-align: center;
    font-weight: 500;
    padding: 15px 0 15px 0;
    font-size: 2.7rem;
    color: #111;
    text-shadow: 0 0 10px #d00;
    
}

.music a {
    margin: 6px 0 0 0 ;
    display: block;
    text-align: center;
    border-radius: 10px;
    background-color: #0a0a0a;
    padding: 13px 20px 10px 20px ;
    box-shadow: 0 0 17px #000a;
    text-decoration: none;
    color: #b00;
    font-size: 1.7rem;
}

.music audio {
    width: 100%;
    border-radius: 100px;
    box-shadow: 0 0 17px #000d;
    
}

.music audio::-webkit-media-controls-panel{
    background-color: #0a0a0a;
}

.music audio::-webkit-media-controls-play-button{
    background-color: #b00;
    border-radius: 50px;
}

.music audio::-webkit-media-controls-timeline {
    border-radius: 50px;
    background-color: #b00;
    margin:5px;
    padding: 10px;
}

.music audio::-webkit-media-controls-mute-button{
    background-color: #b00;
    border-radius:50px;
}

.music audio::-webkit-media-controls-current-time-display {
    font-family: Sans-Serif;
    font-weight: 900;
    color:#d00;
    text-shadow: 0 0 0px #000;
    
    
}

.music audio::-webkit-media-controls-time-remaining-display {
    font-family: Sans-Serif;
    font-weight: 900;
    color:#d00;
    text-shadow: 0 0 0px #000;

}

/* SANDBOX */

.caja_ventilador{
    position:relative;
    width:100%;
    display: flex;
    margin:auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 600px;
    gap:20px;
    padding:10px;
    background: #fff7;
    backdrop-filter: blur(20px);
    border:1.4px solid #000;
    border-radius: 20px;
}

.caja_ventilador img {
    display:block;
    width:90%;
    border-radius: 100%;
    border:2px solid #000;
    box-shadow: 0 0 30px #0003;
    animation:wuiu 0.4s both infinite linear;
    animation-play-state: paused;
    transition: 1s;
    filter: hue-rotate(140deg) contrast(1.1) ;
}

.caja_ventilador .boton_encender {
    padding: 1em;
    color:#000;
    background-color: #fff;
    font-size: 2rem;
    font-weight: bold;
    border-radius:100px;
    border:2px solid #111;
    transition: 0.2s;
}

.caja_ventilador .boton_encender:has(input:checked) {
    color:#fff;
    border:2px #111 solid;
    background-color: #111;
}

.caja_ventilador:has(.boton_encender input:checked)  img {
    animation-play-state: running;
}

.caja_ventilador .boton_encender input {
    display:none;
}



@keyframes sacudir {
    40% {
        transform: rotate(0deg);
    }
    45% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    55% {
        transform: rotate(0deg);
    }
}

@keyframes aparecer {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes aparecer_margin {
    from {
        opacity:0;
        margin-top:30px;
    }
    to {
        opacity:1;
    }
}

@keyframes wuiu {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(216deg);
    }
    100% {
        transform: rotate(359.9deg);
        
    }
}


@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes menu {
    from {
        transform: translateX(-100%) ;
    }
    to {
        transform: translateX(0) ;
    }
}

@keyframes menu_out {
    0% {
        display: block;
        transform: translateX(0) ;
    }
    98% {
        display:block;
    }
    100% {
        display: none;
        transform: translateX(-110%) ;
    }
}

@media screen and (min-width: 590px) {
    html {
        font-size: 14px;
    }
}


@media screen and (min-width: 1000px) {
    html {
        font-size: 16px;
    }
    
    .grid_miembros {
        grid-template-columns: 1fr 1fr;
    }
    
    .grid_awards2024 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}