@font-face {
  font-family: "saiyasans";
  src: url("recursos/fuentes/Saiyan-Sans.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "pubgsans";
  src: url("recursos/fuentes/PUBG-SANS.ttf") format("truetype");
  font-weight: 600;
}

:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    font-family: "pubgsans";
    color: #eee;
    background-color: #081220;
    background-image: url('recursos/background.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header, .main_wrapper, footer {
    width: 100%;
}

/*Header */

header {
    text-align: center;
}

h1 {
    font-family: saiyasans;
    font-size:  2rem;
    padding: 5px;
    background-color: #0b192c;
    color: #f8e828;
    backdrop-filter: blur(5px);
    text-shadow: 0 0 20px #f8e828bb;
}

h1 span {
    color: #f00;
    text-shadow: 0 0 20px #f00c;
}

nav {
    padding: 3px;
    background-color: #f8e828dd;
}

nav div {
    margin: auto;
    display: flex;
    justify-content: center;
    list-style: none;
    max-width: 700px;
    height: 50px;
    
}

nav a {
    position: relative;
    top:0;
    font-family: "pubgsans";
    letter-spacing: 0.7px;
    flex: 1;
    display: block;
    font-size: 0.9rem ;
    line-height: 13px;
    text-decoration: none;
    color: #111;
    font-weight: bold;
    padding: 3px;
    transition: 1s all;
}

nav a:focus, nav a:hover {
  letter-spacing: 3px;
  flex:8;
}

nav a img {
    width: 26px;
}

.nav_btn_active {
    background-color: #ff2424;
    border-radius: 4px ;
    color: #fff;
    flex: 2;
}

.nav_btn_active img {
  filter: invert();
}

/*Main */ 

.main_wrapper {
    display: flex;
    gap: 10px;
    flex: 1;
    max-width: 1100px;
}

main {
    font-size: 1rem;
    flex: 1 ;
    padding:25px;
    background-color: #111c;
}

h2 {
  font-family: "pubgsans";
    font-size: 1.7rem;
    text-align: center;
    margin: 0 0 15px 0;
    color: #fff;
    text-shadow: 0 0 20px #fffa;
}

/*Footer */ 

footer {
    text-align: center;
    font-size: 1.1rem;
    color: #111;
    margin-top: auto;
    background-color: #f8e828;
    padding: 30px;
}

/* Modal */

.modal {
    position: absolute;
    width: 100vw;
    height: 800px;
    background-color: #00000057;
    border: none;
    backdrop-filter: blur(7px);
}

.modal div {
    position: relative;
    margin: auto;
    margin-top: 100px;
    padding: 20px 20px;
    width: 70%;
    max-width: 500px;
    border-radius: 12px;
    background-color: #eeea;
    box-shadow: 0 0 30px 10px #11111136 ;
}

.modal .yoandri_modal {
    display: block;
    margin: auto;
    height: 200px ;
}

.modal a {
    position: absolute;
    right: 0;
    top: 0;
    margin: 7px;
    background-color: transparent;
    border: none;
}

.modal a img {
    display: block;
    width: 25px;
}

.modal p {
    color:rgb(37, 37, 37);
    font-size: 1.1rem;
    text-wrap: pretty;
    font-weight: 600;
}

.modal div p:first-of-type {
    font-size: 1.3rem;
    font-weight: bolder;
    color:#1f1e1e;
}

.modal div span {
    padding: 2px;
    color: #fffc;
    background-color: #141414;
    border-radius: 4px;
}

/* Yoandri */

.flex_gallery {
    margin: auto;
    display: flex;
    max-width: 750px ;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.flex_photo {
    max-width: 100%;
    background: #0004;
    overflow: hidden;
    border-radius: 10px;
    padding: 0 10px 10px 10px;
    backdrop-filter: blur(40px);
    box-shadow: 0 0 20px 5px #ff252544;
    border: 1px solid #ff2525;
}

.flex_photo p {
    padding: 9px;
    text-wrap: balance;
    font-size: 1.2rem;
    font-weight: 600;
    color:#ff3535;
    letter-spacing: 0.7px;
}

.flex_photo span {
    display: inline-block;
    font-size: 0.9rem;
    padding: 3px ;
    margin: 0 0 8px 10px;
    font-style: italic;
    font-weight: 500;
    border-radius: 3px;
    color: #ddd;
}

.flex_photo p::before {
    content: '"' ;
}

.flex_photo p::after {
    content: '"' ;
}


.flex_photo img {
    display: block;
    width: 100%;
    border-radius: 10px;
    margin:auto;
    border: 1px solid #111;
}

/* Miembros */

.grid_miembros {
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(150px,1fr));
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    gap: 10px;
}

.item_miembros {
    background: #ff2222bb;
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: start;
    gap:10px;
    align-items: center;
    border-radius: 10px;
    padding: 3px;
    box-shadow: 0 0 20px #fff4;
    border: 1.5px solid #000;
    transition: 0.8s all;
}

.item_miembros:hover, .item_miembros:focus {
    background-color: #2434ff;
    border: 1px solid #fff;
    border-radius: 40px;
}

.item_miembros img {
    width:55px;
    border-radius: 100%;
    border: 1.3px solid #111;
}

.item_miembros p {
    text-shadow: 0 0 3px #ddd1;
    color: #000;
    font-size: 1.1rem;
    text-decoration: underline;
    
}
/* Games */

.div_juegosespera h2 {
    border-bottom: solid #70f 1px;
    color: #f7f;
    text-shadow: 0 0 10px #c2c6;
}

.div_juegosespera {
    color: #faf;
    border: #70f solid 1px;
    padding: 14px;
    border-radius: 20px;
    background-color: #111d;
    box-shadow: 0 0 30px 5px #70f4;
    
}

.div_juegosespera li {
    font-size: 1.2rem;
}

.div_juegosespera ul ::marker {
    content: none;
}

.muyesperado {
    color: #f4f;
}

.music {
    background: #a00;
    border-radius: 20px;
    width: 310px;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 10px #f00a;
    
}

.music img {
    display: block;
    max-width: 100%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 17px #000a;
}

.music p {
    text-align: center;
    padding: 15px 0 15px 0;
    font-size: 1.6rem;
    color: #111;
    text-shadow: 0 0 10px #d00;
    
}

.music a {
    display: block;
    text-align: center;
    border-radius: 100px;
    background-color: #111;
    padding: 14px 20px ;
    box-shadow: 0 0 17px #000a;
    text-decoration: none;
    color: #b00;
    font-size: 1.3rem;
}

.music audio {
    width: 100%;
    border: solid 1.5px #000;
    border-radius: 100px;
}

@media screen and (min-width: 1000px) {
    :root {
        font-size: 13px;
    }
}